@import url("global.css");
@import url("components/header.css");
@import url("components/card.css");
@import url("components/navigation.css");
@import url("components/profile.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-medium);
    color: var(--color-font);
    font-family: Verdana, Geneva, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 200px;
}

h1 {
    font-size: 1rem;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 1.3;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

li a {
    text-decoration: none;
}

.favourites__feed {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    align-items: stretch;
}

@media screen and (min-width: 1200px) {
    h1 {
        letter-spacing: 3px;
    }

    main {
        padding-top: 50px;
        margin-left: 20vw;
    }

    .favourites__feed {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
        align-items: stretch;
        max-width: 50vw;
        transform: translateX(30%);
    }
}
