header {
    background-color: var(--color-dark);
    color: var(--bg-color-light);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

@media screen and (min-width: 1200px) {
    header {
        width: 20vw;
        text-align: left;
        padding-left: 20px;
    }
}